.card {
  position: relative;
  width: 278px;
  height: 320px;
  border-radius: 50px;
  background-size: 100% 100%;
  background: var(--red_box, #FFD6D6);
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 0px 50px 0px #FFF8F8 inset;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--bluebox, #BBF2FE);
}

.card_desc {
  position: absolute;
  top: 30px;
  font-weight: 800;
  color: #000000;
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
  width: 278px;
  text-align: center;
  margin: 0;
}

.card_img {
  position: absolute;
  top: 98px;
  width: 234px;
  height: 200px;
  right: 22px;
  border-radius: 32px;
  object-fit: cover;
}
